<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href = "/css/styles.css">
    </head>
    <div class="main-content">
        <body>
            {{>header}}
            <p>This site was created by Kristan Frost. It uses data from mapbox.com and weatherstack.com. This page was created to help expand my understanding of Node.js.</p>
            <p>I am an early 2020 graduate of the LaunchCode CodeCamp program where I learned Python and C#. Since completing my program I have
                acted as a Teaching Assistant for that same program assisting in educating 3 classes of 90 total students to launch their own careers
                in development. 

                I have been continuing my own edcucation, expanding my knowledge into JavaScript and Java with the intention to persue an Oracale certification in Java. 
                I am currently a certified Professional Scrum Master. 
            </p>
            <img class ="portrait" src="\img\img.jpg">
        </body>
    </div>
        {{>footer}}

</html>