<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href = "/css/styles.css">
    </head>
   <div class="main-content">
        <body>
            {{>header}}
            <p>{{message}}</p>
        </body>
    </div>
        {{>footer}}

</html>